.lines > div > div {
  // background-repeat: repeat-x;
}
@svgstyle: "circle, rect { fill-opacity: 0.05; }";
@script: "";
@script: "document.getElementById('rect1').setAttribute('width', '100');";

@svg0: "<circle cx='326' cy='38' r='5' />";

.lines > div > div {
  /* use embeded image */
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1000' height='120'><defs><style type='text/css'>@{svgstyle}</style></defs>@{svg0}</svg>");
  /* use file from filesystem */
  background-image: url('/home/mk/project/devpad-atom-syntax/bg5.png');
  // background-size: 400px 400px;
  background-size: 150mm 150mm;
}
