@import "syntax-variables";

@import "ruby";
@import "javascript";
@import "css";
@import "html";
@import "linter";
@import "indention";

@import "background_noise";

atom-text-editor, :host {
  background-color: @background;
  color: @fore;

  .gutter {
    background-color: darken(@background, 5%);
    margin-right: 1mm;

    .line-number {
      padding-left: 2mm;
      .icon-right {
        padding: 0 1mm;
      }

      &.cursor-line {
        font-weight: bold;
        background-color: darken(@background, 10%);
      }

      &.git-line-modified {
        background-color: @modified;
      }
      &.git-line-added {
        background-color: @added;
      }
    }
  }

  .invisible-character {
    /* visible only when selected ;-) */
    color: @background;
  }

  .selection .region {
    background-color: darken(@background, 15%);
  }
}

.editor, atom-text-editor::shadow {
  .bracket-matcher {
    background-color: @bracket_matcher;
    border: none;
  }
  .gutter .line-number.git-line-removed:before, .gutter .line-number.git-line-removed:before {
    bottom: -@removed_size;
    border-width: @removed_size;
    border-left-color: @removed;
  }
}

.line {
  box-shadow: inset 0 -1px darken(@background, 5%);
  // &.cursor-line {
  //   box-shadow: inset 0 -2px darken(@background, 2%);
  // }
  .line {
    box-shadow: none;
  }
}

.line:nth-child(7n) {
  box-shadow: inset 0 -1px darken(@background, 10%);
}

.comment {
  color: lighten(@fore, 40%);
}

.keyword {

  &.control {
    color: @keyword;
    font-weight: bold;
  }

  &.operator.assignment {
    color: @keyword;
    font-weight: bold;
  }
}

.constant {
  &.numeric, &.symbol {
    color: @value;
  }

  &.hashkey {
    color: @label;
  }

  &.character.escape {
    color: @fore;
  }

  &.boolean, &.nil {
    font-style: italic;
    color: @value;
  }
}

.string {
  color: @value;

  .punctuation.definition.tag.xml.plist {
    color: @fore;
  }
  &.regexp {
    color: @regexp;
  }
}
.cursor-line .string.regexp, .string.regexp:hover {
  .character-class {
    color: @regexp_class;
  }
  .arbitrary-repetition {
    color: @regexp_repetition;
  }
  .string.group {
    background-color: fade(darken(@background, 30%), 30%);
  }
}

.embedded {
  color: @fore;
  &.line, &.block {
    background-color: fade(darken(@background, 30%), 30%);
  }
}

.entity {
  font-weight: bold;
  color: @dark_fore;
  &.class.name .other, &.tag.name, &.object.name {
    font-weight: normal;
    color: @fore;
  }
}
