.source.css{

  /* reset some styles */
  .attribute-selector .entity, .pseudo-class {
    font-weight: normal;
    color: @fore;
  }

  .selector {
    /* make tag name bold and dark */
    font-weight: bold;
    color: @dark_fore;
    /* back to normal other elements */
    .constant, .string, .function {
      font-weight: normal;
      color: @fore;
    }
  }

  .property-name, .punctuation.separator.key-value {
    color: @label;
  }

  .constant{
    &.property-value {
      color: @value;
      font-style: italic;
    }

    &.color{
      color: @value;
    }
  }

}
