.html {
  &.text.basic {
    /* make text (tag content) blue */
    color: @value;
    .tag {
      /* make tag not blue */
      color: @fore;
    }
  }

  &.entity.attribute-name {
    font-weight: normal;
    color: @label;
  }
}
