@hue_red: 0;
  @hue_orange: 30;
@hue_yellow: 60;
  @hue_chartreuse: 90;
@hue_green: 120;
  @hue_springgreen: 150;
@hue_cyan: 180;
  @hue_dodgerblue: 210;
@hue_blue: 240;
  @hue_blueviolet: 270;
@hue_magenta: 300;
  @hue_pink: 330;
