atom-text-editor, :host {
  .indent-guide {
    /* color: darken(@background, 5%); */
    box-shadow: inset 1px 0 darken(@background, 5%);
  }
  .indent-guide:nth-child(even) {
    /* color: darken(@background, 15%); */
    box-shadow: inset 1px 0 darken(@background, 15%);
  }

  .indent-guide:nth-child(2) {
    /* second indention - most of the time method body */
    @indent_color: darken(@background, 6%);
    background-color: fade(@indent_color, 30%);
    &.invisible-character {
      /* make color invisible (same as background) */
      color: mix(@indent_color, @background, 30%);
    }
  }

  // .indent-guide:nth-child(4) {
  //   /* forth indention - most of the time smelly code */
  //   @indent_color: fade(yellow, 15%);
  //   background-color: transparent;
  //   background-image: repeating-linear-gradient(-47deg, transparent, transparent 0.5em, @indent_color 0.5em, @indent_color 1em);
  //   &.invisible-character {
  //     /* make color invisible (same as background) */
  //     color: mix(@indent_color, @background, 15%);
  //   }
  // }
  //
  // /* @FIXME: apply DRY :-) less can do that */
  // .indent-guide:nth-child(n+5) {
  //   /* fifth and farder indention - most of the time smelly code */
  //   @indent_color: fade(red, 15%);
  //   background-color: transparent;
  //   background-image: repeating-linear-gradient(-47deg, transparent, transparent 0.5em, @indent_color 0.5em, @indent_color 1em);
  //   &.invisible-character {
  //     /* make color invisible (same as background) */
  //     color: mix(@indent_color, @background, 15%);
  //   }
  // }

  .indent-guide:first-child {
    /* hide firs indent guide */
    box-shadow: none;
  }
}
