.source.js {

  /* Fixing wird javascript syntax */
  .method-call {
    .method, .function {
      font-style: normal;
      font-weight: normal;
      color: @fore;
    }
  }

  .function-call {
    .function {
      font-style: normal;
      font-weight: normal;
      color: @fore;
    }
  }

  .storage.js {
    color: @keyword;
    font-weight: bold;
  }

}
