atom-text-editor::shadow .linter-highlight, .linter-highlight{
  &.error {
    .region {
      box-shadow: inset 0 -1px red;
    }
  }

  &.warning {
    .region {
      box-shadow: inset 0 -1px yellow;
    }
  }

  &.trace, &.info {
    .region {
      box-shadow: inset 0 -1px blue;
    }
  }
}
