/* Ruby language specific styles */

/* for package: ruby-blocks */
:host, atom-text-editor, atom-text-editor::shadow {
  .line-number.ruby-block-highlight {
    // background-color: @bracket_matcher;
  }

  .highlights {
    .ruby-block-highlight .region {
      // background-color: @bracket_matcher;
    }
  }
}

.support {
  &.function.kernel ~ .punctuation {
    /* in ruby:
     *    * ->
     *    * puts (!UNFORTUNETLY)
     */
    // color: @keyword;
    // font-weight: bold;
  }
}

.source.ruby{
  .punctuation.separator.statement.ruby {
    color: @keyword;
    font-weight: bold;
  }
}
