/* background color adjusting sfsfsd  */
@import "hue";

@bg_color: @hue_orange + 10; /* 0-360 (hue color) */

@bg_saturation: 7%; /* 0% makes every color gray, 100% - most intensive */
@bg_lightness: 75%; /* 0% - black, 100% - white */

@background: hsl(@bg_color, @bg_saturation, @bg_lightness);

@fore:       lighten(#000, 15%);
@dark_fore:  darken(@fore, 15%);

@keyword: #289a28;
@value:   #1371DC;
@label:   #620096;
@regexp:            #B25800;
@regexp_class:      #E000E0;
@regexp_repetition: #FFE400;

@bracket_matcher: rgb(236, 184, 0);

/* vcs */
@modified: hsl(@hue_orange, 75%, 50%);
@added: hsl(@hue_green, 50%, 50%);
@removed: hsl(@hue_red, 50%, 50%);
@removed_size: 0.7em;
